<footer class="container-fluid affix">
	<div class="row">
	<div class="col-md-6">
		<i class="fa fa-copyright" aria-hidden="true">
			author:
	  </i>
	  <a href="mailto:remimanue@hotmail.com">
		  remimanue@hotmail.com
	  </a>
  </div>
  <div class="col-md-6 text-right">
	  <i class="fa fa-github" aria-hidden="true">
		  github:
	  </i>
	  <a href="https://github.com/remimanue/do-remi" target="_blank">
		  do-remi
	  </a>
  </div>
  </div>
</footer>
