<section>
	<hgroup>
		<h1>Une application Sails.js sur OpenShift</h1>
		<p></p>
	</hgroup>
	<section>
		<h2>Comment ca marche</h2>
		<p>A suivre</p>
	</section>
	<section>
		<h2>Ressources</h2>
		<ol>
			<li><a href="http://sailsjs.com/" target="_blank">Sails</a></li>
			<li><a href="https://git-scm.com/" target="_blank">Git</a></li>
			<li><a href="https://www.openshift.com/" target="_blank">OpenShift<a></li>
		</ol>
	</section>
</section>
