<section>
	<hgroup>
		<h1>Bienvenue</h1>
		<p></p>
	</hgroup>
	<section>
		<h2>Une application Sails.js sur OpenShift</h2>
		<h3>Comment ca marche ?</h3>
		<p></p>
		<h3>Ressources</h3>
		<p></p>
	</section>
</section>
