<section>
	<h1>Bienvenue</h1>
	<section>
		<article>
			<h2>Une application Sails.js sur OpenShift</h2>
			<article>
				<h3>Comment ca marche ?</h3>
				<p></p>
			</article>
			<article>
				<h3>Sails.js</h3>
				<p></p>
			</article>
			<article>
				<h3>Git</h3>
				<p></p>
			</article>
			<article>
				<h3>Angular</h3>
				<p></p>
			</article>
			<article>
				<h3>OpenShift</h3>
				<p></p>
			</article>
		</article>
	</article>
	<aside>
		<article>
			<h3>Ressources</h3>
			<p></p>
		</article>
	</aside>
</section>
